@model IEnumerable<a12206149_ENT.ENT.Entities.Servicio>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombreServicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipoServicio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombreServicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipoServicio)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.servicioId }) |
            @Html.ActionLink("Details", "Details", new { id=item.servicioId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.servicioId })
        </td>
    </tr>
}

</table>
