@model IEnumerable<a12206149_ENT.ENT.Entities.TipoTripulacion>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombreTipoTripulacion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombreTipoTripulacion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TipoTripulacionId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TipoTripulacionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TipoTripulacionId })
        </td>
    </tr>
}

</table>
